<section class="about-us" id="about-us">
  <div class="container">
   <div class="about-us__content">
     <div class="title title-left">
       <h2>
         Немного о Нас
       </h2>
     </div>
     <img src="img/bee-mans.png" alt="">
     <div class="about-us__content_text">
      <p>
        Помимо хранения личных вещей и мебели, мы предоставляем
        своим клиентам полный комплекс услуг по упаковке и перевозке
        имущества на склад и обратно. Хранение вещей в Москве. Компания
        «Промо склад» предоставляет возможность хранения личных вещей и
        мебели в Москве для физических и юридических лиц. Наша сеть складов
        покрывает практически все районы Москвы, и вы всегда сможете подобрать
        удобное место для хранения вещей расположенное недалеко от вашего
        дома или офиса. Чем мы отличаемся от конкурентов? Тем, что гарантируем
        сохранность имущества, тем, что наши цены остаются одними из самых
        низких, тем что наши склады оборудованы по последнему слову техники
        и находятся под круглосуточной охраной.
      </p>
     </div>
     <!--<div class="button__wrapper">-->
       <!--<a class="button button-honeycomb">-->
       <!--<span>-->
         <!--О Компании-->
       <!--</span>-->
       <!--</a>-->
     <!--</div>-->
   </div>
  </div>
</section>
