<section class="cabinet">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="cabinet__wrapper">
          <div class="title title-left">
            <h2>
              Ваши вещи
            </h2>
          </div>
          <div class="cabinet__storage">
            <div class="cabinet__storage_nav">
              <ul class="cabinet__storage_nav-links">
                <li>
                  <a href="#" class="active">
                    Хранится сейчас <sup>4</sup>
                  </a>
                </li>
                <li>
                  <a href="#">
                    Заказан возврат <sup>1</sup>
                  </a>
                </li>
                <li>
                  <a href="#">
                    Едет в крокодил <sup>1</sup>
                  </a>
                </li>
              </ul>
              <ul class="cabinet__storage_nav-views">
                <li>
                  <a href="#">
                    <span class="cabinet__view cabinet__view_grid active">
                      <span class="bar"></span>
                      <span class="bar"></span>
                      <span class="bar"></span>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <span class="cabinet__view cabinet__view_line">
                      <span class="bar"></span>
                      <span class="bar"></span>
                      <span class="bar"></span>
                    </span>
                  </a>
                </li>
                <li>
                  <a href="#" class="choice-all">
                    Выбрать все
                  </a>
                </li>
              </ul>
            </div>
            <div class="cabinet__storage_content">
              <div class="cabinet__card">
                <input type="checkbox" name="add-card" id="checkbox">
                <label for="checkbox">
                </label>
                  <img src="img/cab-card-1.jpg" alt="">

                  <h3>
                    Велосипед Mongoose
                  </h3>
                  <ul>
                    <li>
                      84  &#215;   119   &#215;  90 см
                    </li>
                    <li>
                      Хранится с 05.04.2018
                    </li>
                  </ul>
              </div>
              <div class="cabinet__card">
                <input type="checkbox" name="add-card" id="checkbox-2">
                <label for="checkbox-2">
                </label>
                <img src="img/cab-card-2.jpg" alt="">
                  <h3>
                    Белый стул IKEA
                  </h3>
                  <ul>
                    <li>
                      65  &#215;   96   &#215;  65 см
                    </li>
                    <li>
                      Хранится с 05.04.2018
                    </li>
                  </ul>

              </div>
              <div class="cabinet__card">
                <input type="checkbox" name="add-card" id="checkbox-3">
                <label for="checkbox-3">
                </label>
                <img src="img/cab-card-3.jpg" alt="">
                  <h3>
                    Белый стол IKEA
                  </h3>
                  <ul>
                    <li>
                      84 &#215; 119  &#215;   90 см
                    </li>
                    <li>
                      Хранится с 05.04.2018
                    </li>

                  </ul>
              </div>
              <div class="cabinet__card">
                <input type="checkbox" name="add-card" id="checkbox-4">
                <label for="checkbox-4">
                </label>
                <img src="img/cab-card-2.jpg" alt="">

                  <h3>
                    Белый стул IKEA
                  </h3>
                  <ul>
                    <li>
                      65  &#215;   96   &#215;  65 см
                    </li>
                    <li>
                      Хранится с 05.04.2018
                    </li>
                  </ul>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="cabinet__user_wrapper">
          <div class="cabinet__user">
            <div class="cabinet__user_info">
              <img src="img/cabinet-user.jpg" alt="">
              <div class="cabinet__user_info-name">
                <h5>
                  Добро пожаловать:
                </h5>
                <h4>
                  Александр Васильев
                </h4>
              </div>
            </div>
            <h4>
              Ваш тариф:
            </h4>
            <p>
              <span>2</span> &#215; <span>2</span> метра • <span>6</span> месяцев • <span>4 300</span> руб./мес.
            </p>
            <a href="#" class="button-setting">
              настройка
            </a>
            <div class="button__wrapper button__wrapper_flex">
              <a href="#" class="button button-honeycomb button-honeycomb-small">
                <span>Сдать вещи</span>
              </a>
              <a href="" class="button button-honeycomb button-honeycomb-small">
                <span>вернуть вещи</span>
              </a>
            </div>
          </div>
          <div class="cabinet__info">
            <ul>
              <li>
                <h4>
                  Следующее списание з хранение ожидается 01.05.2018
                </h4>
                <span>
                10.04.2018
              </span>
              </li>
              <li>
                <h4>
                  Встреча для сдачи новых вещей назначена на 04.04.2018
                </h4>
                <time>
                  02.04.2018
                </time>
              </li>
              <li>
                <h4>
                  Возврат вещей назначен на 26.03.2017
                </h4>
                <time>
                  02.04.2018
                </time>
              </li>
            </ul>
            <div class="button__wrapper_full-width">
              <a href="#" class="button button-honeycomb">
              <span>
                задать вопрос
              </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
