<section class="faq" id="faq">
  <div class="container">
    <div class="title">
      <h2>
        Вопрос и ответ
      </h2>
    </div>
    <div class="faq__accordion">
      <div class="faq__wrapper">
        <div class="faq__head active">
          Где работает «Крокодил»?
        </div>
        <div class="faq__toggle active">
          <p>
            Сейчас мы работаем только внутри МКАД, но скоро начнём работать и за его пределами. Подпишитесь на наш фейсбук, вконтакте и инстаграм, чтобы быть в курсе новостей «Чердака».          </p>
        </div>
      </div>
      <div class="faq__wrapper">
        <div class="faq__head">
          В каких условиях хранятся вещи?
        </div>
        <div class="faq__toggle">
          <p>
            Сейчас мы работаем только внутри МКАД, но скоро начнём работать и за его пределами. Подпишитесь на наш фейсбук, вконтакте и инстаграм, чтобы быть в курсе новостей «Чердака».          </p>
        </div>
      </div>
      <div class="faq__wrapper">
        <div class="faq__head">
          Почему так дёшево?
        </div>
        <div class="faq__toggle">
          <p>
            Сейчас мы работаем только внутри МКАД, но скоро начнём работать и за его пределами. Подпишитесь на наш фейсбук, вконтакте и инстаграм, чтобы быть в курсе новостей «Чердака».          </p>
        </div>
      </div>
      <div class="faq__wrapper">
        <div class="faq__head">
          Как вы упаковываете вещи?
        </div>
        <div class="faq__toggle">
          <p>
            Сейчас мы работаем только внутри МКАД, но скоро начнём работать и за его пределами. Подпишитесь на наш фейсбук, вконтакте и инстаграм, чтобы быть в курсе новостей «Чердака».          </p>
        </div>
      </div>
      <div class="faq__wrapper">
        <div class="faq__head">
          Кто отвечает за упаковку хрупких вещей?
        </div>
        <div class="faq__toggle">
          <p>
            Сейчас мы работаем только внутри МКАД, но скоро начнём работать и за его пределами. Подпишитесь на наш фейсбук, вконтакте и инстаграм, чтобы быть в курсе новостей «Чердака».          </p>
        </div>
      </div>
      <div class="faq__wrapper">
        <div class="faq__head">
          Как рассчитывается тариф?
        </div>
        <div class="faq__toggle">
          <p>
            Сейчас мы работаем только внутри МКАД, но скоро начнём работать и за его пределами. Подпишитесь на наш фейсбук, вконтакте и инстаграм, чтобы быть в курсе новостей «Чердака».          </p>
        </div>
      </div>
      <div class="faq__wrapper">
        <div class="faq__head">
          Помогут ли муверы разобрать мебель?
        </div>
        <div class="faq__toggle">
          <p>
            Сейчас мы работаем только внутри МКАД, но скоро начнём работать и за его пределами. Подпишитесь на наш фейсбук, вконтакте и инстаграм, чтобы быть в курсе новостей «Чердака».          </p>
        </div>
      </div>
      <div class="faq__wrapper">
        <div class="faq__head">
          Как узнать, сколько места мне нужно?
        </div>
        <div class="faq__toggle">
          <p>
            Сейчас мы работаем только внутри МКАД, но скоро начнём работать и за его пределами. Подпишитесь на наш фейсбук, вконтакте и инстаграм, чтобы быть в курсе новостей «Чердака».          </p>
        </div>
      </div>
    </div>
    <div class="button__wrapper button__wrapper_center">
      <a href="faq-page.html" class="button button-honeycomb">
        <span>
          Показать еще
        </span>
      </a>
    </div>
  </div>
</section>
