<section class="about-us faq faq-page">
  <div class="container">
    <div class="about-us__content">
      <div class="title title-left">
        <h2>
          Вопрос и ответ
        </h2>
      </div>
      <img src="img/bee-mans-two.png" alt="">
      <div class="faq__accordion">
        <div class="faq__wrapper">
          <div class="faq__head active">
            Где работает «Крокодил»?
          </div>
          <div class="faq__toggle active">
            <p>
              Сейчас мы работаем только внутри МКАД, но скоро начнём работать и за его пределами. Подпишитесь на наш фейсбук, вконтакте и инстаграм, чтобы быть в курсе новостей «Чердака».          </p>
          </div>
        </div>
        <div class="faq__wrapper">
          <div class="faq__head">
            В каких условиях хранятся вещи?
          </div>
          <div class="faq__toggle">
            <p>
              Сейчас мы работаем только внутри МКАД, но скоро начнём работать и за его пределами. Подпишитесь на наш фейсбук, вконтакте и инстаграм, чтобы быть в курсе новостей «Чердака».          </p>
          </div>
        </div>
        <div class="faq__wrapper">
          <div class="faq__head">
            Почему так дёшево?
          </div>
          <div class="faq__toggle">
            <p>
              Сейчас мы работаем только внутри МКАД, но скоро начнём работать и за его пределами. Подпишитесь на наш фейсбук, вконтакте и инстаграм, чтобы быть в курсе новостей «Чердака».          </p>
          </div>
        </div>
        <div class="faq__wrapper">
          <div class="faq__head">
            Как вы упаковываете вещи?
          </div>
          <div class="faq__toggle">
            <p>
              Сейчас мы работаем только внутри МКАД, но скоро начнём работать и за его пределами. Подпишитесь на наш фейсбук, вконтакте и инстаграм, чтобы быть в курсе новостей «Чердака».          </p>
          </div>
        </div>
        <div class="faq__wrapper">
          <div class="faq__head">
            Кто отвечает за упаковку хрупких вещей?
          </div>
          <div class="faq__toggle">
            <p>
              Сейчас мы работаем только внутри МКАД, но скоро начнём работать и за его пределами. Подпишитесь на наш фейсбук, вконтакте и инстаграм, чтобы быть в курсе новостей «Чердака».          </p>
          </div>
        </div>
        <div class="faq__wrapper">
          <div class="faq__head">
            Как рассчитывается тариф?
          </div>
          <div class="faq__toggle">
            <p>
              Сейчас мы работаем только внутри МКАД, но скоро начнём работать и за его пределами. Подпишитесь на наш фейсбук, вконтакте и инстаграм, чтобы быть в курсе новостей «Чердака».          </p>
          </div>
        </div>
        <div class="faq__wrapper">
          <div class="faq__head">
            Помогут ли муверы разобрать мебель?
          </div>
          <div class="faq__toggle">
            <p>
              Сейчас мы работаем только внутри МКАД, но скоро начнём работать и за его пределами. Подпишитесь на наш фейсбук, вконтакте и инстаграм, чтобы быть в курсе новостей «Чердака».          </p>
          </div>
        </div>
        <div class="faq__wrapper">
          <div class="faq__head">
            Как узнать, сколько места мне нужно?
          </div>
          <div class="faq__toggle">
            <p>
              Сейчас мы работаем только внутри МКАД, но скоро начнём работать и за его пределами. Подпишитесь на наш фейсбук, вконтакте и инстаграм, чтобы быть в курсе новостей «Чердака».          </p>
          </div>
        </div>
      </div>
      <div class="button__wrapper">
        <a href="index#about-us" class="button button-honeycomb">
         <span>
           О Компании
         </span>
        </a>
      </div>
    </div>
  </div>
</section>
