<div class="first-screen__wrapper" id="top">
  <div class="container">
    <section class="first-screen">
      <div class="first-screen__img" style="background-image: url('img/first-screen-img.png')">
        <img src="img/first-screen-img-adp.jpg" alt="">
      </div>
      <h1>
        Хранение, которое
        приходит к вам
      </h1>
      <h2>
        Заберём сноуборд на лето, освободим квартиру к ремонту, возьмём на хранение любимые книги и детские вещи
      </h2>
      <p>
        от <span>399</span> руб.в месяц
      </p>
      <form class="form form-callback form-first-screen">
        <div class="form__field form__field_tel">
          <input type="tel" name="tel" placeholder="Ваш  номер телефона" required>
        </div>
        <button class="button button-honeycomb">
          <span>Узнать стоимость</span>
        </button>

      </form>
    </section>
  </div>
</div>
