<section class="gallery">
  <div class="title">
    <h2>Наша фотогалерея</h2>
  </div>
  <div class="gallery__wrapper">
    <div class="gallery__img gallery__img_small">
     <div class="gallery__img_block">
       <a data-fancybox="gallery" href="img/gallery-1.jpg">
         <img src="img/gallery-1.jpg" alt="">
       </a>
     </div>
    </div>
    <div class="gallery__img gallery__img_big">
      <div class="gallery__img_block">
        <a data-fancybox="gallery" href="img/gallery-2.jpg">
          <img src="img/gallery-2.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="gallery__img gallery__img_small">
      <div class="gallery__img_block">
        <a data-fancybox="gallery" href="img/gallery-3.jpg">
          <img src="img/gallery-3.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="gallery__img gallery__img_big">
      <div class="gallery__img_block">
        <a data-fancybox="gallery" href="img/gallery-4.jpg">
          <img src="img/gallery-4.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="gallery__img gallery__img_small">
      <div class="gallery__img_block">
        <a data-fancybox="gallery" href="img/gallery-5.jpg">
          <img src="img/gallery-5.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="gallery__img gallery__img_small">
      <div class="gallery__img_block">
        <a data-fancybox="gallery" href="img/gallery-6.jpg">
          <img src="img/gallery-6.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="gallery__img gallery__img_small">
      <div class="gallery__img_block">
        <a data-fancybox="gallery" href="img/gallery-7.jpg">
          <img src="img/gallery-7.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="gallery__img hidden gallery__img_small">
      <div class="gallery__img_block">
        <a data-fancybox="gallery" href="img/gallery-8.jpg">
          <img src="img/gallery-8.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="gallery__img hidden gallery__img_small">
      <div class="gallery__img_block">
        <a data-fancybox="gallery" href="img/gallery-1.jpg">
          <img src="img/gallery-1.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="gallery__img hidden gallery__img_big">
      <div class="gallery__img_block">
        <a data-fancybox="gallery" href="img/gallery-2.jpg">
          <img src="img/gallery-2.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="gallery__img hidden gallery__img_small">
      <div class="gallery__img_block">
        <a data-fancybox="gallery" href="img/gallery-3.jpg">
          <img src="img/gallery-3.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="gallery__img hidden gallery__img_big">
      <div class="gallery__img_block">
        <a data-fancybox="gallery" href="img/gallery-4.jpg">
          <img src="img/gallery-4.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="gallery__img hidden gallery__img_small">
      <div class="gallery__img_block">
        <a data-fancybox="gallery" href="img/gallery-5.jpg">
          <img src="img/gallery-5.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="gallery__img hidden gallery__img_small">
      <div class="gallery__img_block">
        <a data-fancybox="gallery" href="img/gallery-6.jpg">
          <img src="img/gallery-6.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="gallery__img hidden gallery__img_small">
      <div class="gallery__img_block">
        <a data-fancybox="gallery" href="img/gallery-7.jpg">
          <img src="img/gallery-7.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="gallery__img hidden gallery__img_small">
      <div class="gallery__img_block">
        <a data-fancybox="gallery" href="img/gallery-8.jpg">
          <img src="img/gallery-8.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="gallery__img hidden gallery__img_small">
      <div class="gallery__img_block">
        <a data-fancybox="gallery" href="img/gallery-1.jpg">
          <img src="img/gallery-1.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="gallery__img hidden gallery__img_big">
      <div class="gallery__img_block">
        <a data-fancybox="gallery" href="img/gallery-2.jpg">
          <img src="img/gallery-2.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="gallery__img hidden gallery__img_small">
      <div class="gallery__img_block">
        <a data-fancybox="gallery" href="img/gallery-3.jpg">
          <img src="img/gallery-3.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="gallery__img hidden gallery__img_big">
      <div class="gallery__img_block">
        <a data-fancybox="gallery" href="img/gallery-4.jpg">
          <img src="img/gallery-4.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="gallery__img hidden gallery__img_small">
      <div class="gallery__img_block">
        <a data-fancybox="gallery" href="img/gallery-5.jpg">
          <img src="img/gallery-5.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="gallery__img hidden gallery__img_small">
      <div class="gallery__img_block">
        <a data-fancybox="gallery" href="img/gallery-6.jpg">
          <img src="img/gallery-6.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="gallery__img hidden gallery__img_small">
      <div class="gallery__img_block">
        <a data-fancybox="gallery" href="img/gallery-7.jpg">
          <img src="img/gallery-7.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="gallery__img hidden gallery__img_small">
      <div class="gallery__img_block">
        <a data-fancybox="gallery" href="img/gallery-8.jpg">
          <img src="img/gallery-8.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="gallery__img hidden gallery__img_small">
      <div class="gallery__img_block">
        <a data-fancybox="gallery" href="img/gallery-1.jpg">
          <img src="img/gallery-1.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="gallery__img hidden gallery__img_big">
      <div class="gallery__img_block">
        <a data-fancybox="gallery" href="img/gallery-2.jpg">
          <img src="img/gallery-2.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="gallery__img hidden gallery__img_small">
      <div class="gallery__img_block">
        <a data-fancybox="gallery" href="img/gallery-3.jpg">
          <img src="img/gallery-3.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="gallery__img hidden gallery__img_big">
      <div class="gallery__img_block">
        <a data-fancybox="gallery" href="img/gallery-4.jpg">
          <img src="img/gallery-4.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="gallery__img hidden gallery__img_small">
      <div class="gallery__img_block">
        <a data-fancybox="gallery" href="img/gallery-5.jpg">
          <img src="img/gallery-5.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="gallery__img hidden gallery__img_small">
      <div class="gallery__img_block">
        <a data-fancybox="gallery" href="img/gallery-6.jpg">
          <img src="img/gallery-6.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="gallery__img hidden gallery__img_small">
      <div class="gallery__img_block">
        <a data-fancybox="gallery" href="img/gallery-7.jpg">
          <img src="img/gallery-7.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="gallery__img hidden gallery__img_small">
      <div class="gallery__img_block">
        <a data-fancybox="gallery" href="img/gallery-8.jpg">
          <img src="img/gallery-8.jpg" alt="">
        </a>
      </div>
    </div>
  </div>
  <div class="button__wrapper button__wrapper_center">
    <a href="#" class="button button-honeycomb show-more">
      <span>
        показать еще
      </span>
    </a>
  </div>
</section>
