<div class="header__wrapper">
  <div class="container">
    <header class="header">
      <a href="#top" class="logo">

        <img src="img/logo.svg" alt="">
        <h2>
          Хранение вещей и мебели
          для Москвичей
        </h2>

      </a>
      <div class="burger">
        <div class="burger-bar burger-bar-one"></div>
        <div class="burger-bar burger-bar-two"></div>
        <div class="burger-bar burger-bar-center"></div>
      </div>
      <div class="header__adaptive">
        <nav class="nav">
          <ul class="menu">
            <li>
              <a href="#price">
                Цены
              </a>
            </li>
            <li>
              <a href="#about-us">
                О компании
              </a>
            </li>
            <li>
              <a href="#faq">
                Вопрос и ответ
              </a>
            </li>
          </ul>
        </nav>
        <div class="callback">
          <a href="tel:+74951064646">
            +7 (495) 106 46 46
          </a>
        </div>
        <a href="" class="button button_login authorization_open">
          Вход / Регистрация
        </a>
      </div>
    </header>
  </div>
</div>
