<section class="how-work__wrapper">
  <div class="container">
    <div class="how-work">
      <div class="title">
        <h2>
          Как мы работаем
        </h2>
      </div>
      <div class="how-work__container">
        <div class="how-work__container_card">
          <div class="how-work__container_flipper">
            <div class="how-work__container_front">
              <div class="how-work__container_img">
                <img src="img/box-we.svg" alt="">
              </div>
              <div class="how-work__container_text">
                <h3>
                  Мы упаковываем
                </h3>
                <p>
                  Заберём вещи в удобное время
                </p>
              </div>
            </div>
            <div class="how-work__container_back">
              <div class="how-work__container_card-front">
                <div class="how-work__container_text">
                  <h3>
                    Тут текст рыба
                  </h3>
                  <p>
                    Заберём вещи в удобное время
                  </p>
                  <p>
                    Заберём вещи в удобное время
                  </p>
                  <p>
                    Заберём вещи в удобное время
                  </p>
                  <p>
                    Заберём вещи в удобное время
                  </p>
                  <p>
                    Заберём вещи в удобное время
                  </p>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="how-work__container_card">
          <div class="how-work__container_flipper">
            <div class="how-work__container_front">
              <div class="how-work__container_img">
                <img src="img/we-trolley.svg" alt="">
              </div>
              <div class="how-work__container_text">
                <h3>
                  Мы доставляем
                </h3>
                <p>
                  Разместим на нашем тёплом и безопасном складе
                </p>
              </div>
            </div>
            <div class="how-work__container_back">
            <div class="how-work__container_card-front">
              <div class="how-work__container_text">
                <h3>
                  Тут текст рыба
                </h3>
                <p>
                  Заберём вещи в удобное время
                </p>
                <p>
                  Заберём вещи в удобное время
                </p>
                <p>
                  Заберём вещи в удобное время
                </p>
                <p>
                  Заберём вещи в удобное время
                </p>
                <p>
                  Заберём вещи в удобное время
                </p>

              </div>
            </div>
          </div>
          </div>
        </div>
        <div class="how-work__container_card">
          <div class="how-work__container_flipper">
            <div class="how-work__container_front">
              <div class="how-work__container_img">
                <img src="img/we-warehouse.svg" alt="">
              </div>
              <div class="how-work__container_text">
                <h3>
                  Мы размещаем
                </h3>
                <p>
                  Загрузим фотографии вещей в личный кабинет
                </p>
              </div>
            </div>
            <div class="how-work__container_back">
              <div class="how-work__container_card-front">
                <div class="how-work__container_text">
                  <h3>
                    Тут текст рыба
                  </h3>
                  <p>
                    Заберём вещи в удобное время
                  </p>
                  <p>
                    Заберём вещи в удобное время
                  </p>
                  <p>
                    Заберём вещи в удобное время
                  </p>
                  <p>
                    Заберём вещи в удобное время
                  </p>
                  <p>
                    Заберём вещи в удобное время
                  </p>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="how-work__container_card">
          <div class="how-work__container_flipper">
            <div class="how-work__container_front">
              <div class="how-work__container_img">
                <img src="img/we-delivery-truck.svg" alt="">
              </div>
              <div class="how-work__container_text">
                <h3>
                  Мы возвращаем
                </h3>
                <p>
                  Вернём всё сразу или <br> по отдельности
                </p>
              </div>
            </div>
            <div class="how-work__container_back">
              <div class="how-work__container_card-front">
                <div class="how-work__container_text">
                  <h3>
                    Тут текст рыба
                  </h3>
                  <p>
                    Заберём вещи в удобное время
                  </p>
                  <p>
                    Заберём вещи в удобное время
                  </p>
                  <p>
                    Заберём вещи в удобное время
                  </p>
                  <p>
                    Заберём вещи в удобное время
                  </p>
                  <p>
                    Заберём вещи в удобное время
                  </p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
