<div id="authorization" class="modal">
  <div class="modal__nav">
    <a href="#" class="button-nav button-nav-reg active">
      Вход
    </a>
    <a href="#" class="button-nav button-nav-auth">
      Регистрация
    </a>
  </div>

  <div class="modal__form_wrapper">

    <form action="#" class="form form modal__form modal__form_aut">
      <h3>
        Войти на сайт
      </h3>
      <p>
        Введите номер телефона, указанный при регистрации, чтобы получить одноразовый пароль для входа.
      </p>
      <div class="modal__form_group modal__form_tel">

        <input type="tel" name="tel" placeholder="Ваш телефон" class="modal__form_field" required>
        <span>
          Получить код
        </span>
      </div>
      <div class="modal__form_group modal__form_code">
        <input type="text" name="code" placeholder="Код из СМС" class="modal__form_field" required>
      </div>
      <button class="button button-honeycomb">
        <span>
          Войти на сайт
        </span>
      </button>
      <p>
        <span>Еще не зарегистрированы? <a href="#">Заполните форму регистрации,</a> чтобы получить доступ на сайт.</span>
      </p>

    </form>
    <form action="#" class="form modal__form modal__form_reg">
      <h3>
        Регистрация
      </h3>
      <p>
        Введите Ваше имя и номер телефона,чтобы получить одноразовый пароль для регистрации на сайте.
      </p>

      <div class="modal__form_group modal__form_name">
        <input type="text" name="name" placeholder="Ваше имя" class="modal__form_field" required>

      </div>

      <div class="modal__form_group modal__form_tel">

        <input type="tel" name="tel" placeholder="Ваш телефона" class="modal__form_field" required>
        <span>
          Получить код
        </span>
      </div>

      <div class="modal__form_group modal__form_code">

        <input type="text" name="code" placeholder="Код из СМС" class="modal__form_field" required>

      </div>

      <button class="button button-honeycomb">
        <span>
          Зарегистрироваться
        </span>
      </button>
     <p>
        <span>
        Нажимая кнопку вы соглашаетесь с <a href="#">офертой</a> и <a href="#">политикой обработки персональных данных.</a>
      </span>
     </p>

    </form>

  </div>

</div>
<div id="thanks" class="modal">
  <div class="modal__form_wrapper">
    <h3>
      Спасибо за заявку
    </h3>
    <p>
      Наши менеджеры свяжутся с Вами в ближайшее время
    </p>
  </div>
</div>
<div id="thanks-reg" class="modal">
  <div class="modal__form_wrapper">
    <form action="#" class="form modal__form">
      <h3>
        Спасибо за регистрацию
      </h3>
      <p>
        Введите номер телефона, указанный при регистрации, чтобы получить одноразовый пароль для входа.
      </p>
      <div class="modal__form_group modal__form_tel">

        <input type="tel" name="tel" placeholder="Ваш телефон" class="modal__form_field" required>
        <label>
          Получить код
        </label>
      </div>
      <div class="modal__form_group modal__form_code">
        <input type="text" name="code" placeholder="Код из СМС" class="modal__form_field" required>
      </div>
      <button class="button button-honeycomb">
        <span>
          Войти на сайт
        </span>
      </button>
    </form>
  </div>
</div>
