<section class="place__wrapper" id="price">
  <div class="container">
    <div class="place">
      <div class="title">
        <h2>
          Сколько места вам понадобиться?
        </h2>
      </div>
      <div class="place__card_wrapper">
        <div class="place__card">
          <div class="place__card_img">
            <img src="img/place-bicycle.svg" alt="">
          </div>
          <h3>
            Велосипед
          </h3>
          <strong>
            0.5 кубометра
          </strong>
          <p>
            Сезонное хранение велосипеда.
          </p>
          <div class="place__card_price">
            <p class="price">
              399
              <span class="per-month">
                руб./
                мес.
              </span>
            </p>

            <a href="calculator.html" class="button button-honeycomb">
              <span>
                заказать
              </span>
            </a>
          </div>
        </div>
        <div class="place__card">
          <div class="place__card_img">
            <img src="img/place-wheel.svg" alt="">
          </div>
          <h3>
            Шины
          </h3>
          <strong>
            0.5 кубометра
          </strong>
          <p>
            Сезонное хранение шин.
          </p>
          <div class="place__card_price">
            <p class="price">
              399
              <span class="per-month">
                руб./
                мес.
              </span>
            </p>
            <a href="calculator.html" class="button button-honeycomb">
              <span>
                заказать
              </span>
            </a>
          </div>
        </div>
        <div class="place__card">
          <div class="place__card_img">
            <img src="img/place-cupboard.svg" alt="">
          </div>
          <h3>
            Шкаф
          </h3>
          <strong>
            0.5 кубометра
          </strong>
          <p>
            Сезонное хранение: зимние вещи, комплект шин, велосипед, сноуборд или пара лыж.
          </p>
          <div class="place__card_price">
            <p class="price">
              700
              <span class="per-month">
                руб./
                мес.
              </span>
            </p>
            <a href="calculator.html" class="button button-honeycomb">
              <span>
                заказать
              </span>
            </a>
          </div>
        </div>
        <div class="place__card">
          <div class="place__card_img">
            <img src="img/place-balcony.svg" alt="">
          </div>
          <h3>
            Балкон
          </h3>
          <strong>
            1.5 кубометра
          </strong>
          <p>
            Подойдёт для хранения комплекта шин, двух велосипедов, детской коляски и нескольких коробок с вещами.
          </p>
          <div class="place__card_price">
            <p class="price">
              1 200
              <span class="per-month">
                руб./
                мес.
              </span>
            </p>
            <a href="calculator.html" class="button button-honeycomb">
              <span>
                заказать
              </span>
            </a>
          </div>
        </div>
        <div class="place__card">
          <div class="place__card_img">
            <img src="img/place-pantry.svg" alt="">
          </div>
          <h3>
            Кладовка
          </h3>
          <strong>
            3 кубометра
          </strong>
          <p>
            Поместятся крупные вещи и мебель: кресло, двухспальный матрас, кровать, диван.
          </p>
          <div class="place__card_price">
            <p class="price">
              2 200
              <span class="per-month">
                руб./
                мес.
              </span>
            </p>
            <a href="calculator.html" class="button button-honeycomb">
              <span>
                заказать
              </span>
            </a>
          </div>
        </div>
        <div class="place__card">
          <div class="place__card_img">
            <img src="img/place-room.svg" alt="">
          </div>
          <h3>
            Комната
          </h3>
          <strong>
            6 кубометров
          </strong>
          <p>
            Хватит, чтобы освободить однокомнатную квартиру: диван, шкаф, кухня, коробки с вещами.
          </p>
          <div class="place__card_price">
            <p class="price">
              4 300
              <span class="per-month">
                руб./
                мес.
              </span>
            </p>
            <a href="calculator.html" class="button button-honeycomb">
              <span>
                заказать
              </span>
            </a>
          </div>
        </div>
        <div class="place__card">
          <div class="place__card_img">
            <img src="img/place-garage.svg" alt="">
          </div>
          <h3>
            Гараж
          </h3>
          <strong>
            9 кубометров
          </strong>
          <p>
            Поместятся все вещи из двухкомнатной квартиры: мебель, кухня, коробки с вещами.
          </p>
          <div class="place__card_price">
            <p class="price">
              6 200
              <span class="per-month">
                руб./
                мес.
              </span>
            </p>

            <a href="calculator.html" class="button button-honeycomb">
              <span>
                заказать
              </span>
            </a>
          </div>
        </div>
        <div class="place__card">
          <div class="place__card_img">
            <img src="img/place-attic.svg" alt="">
          </div>
          <h3>
            Чердак
          </h3>
          <strong>
            18 кубометров
          </strong>
          <p>
            Полноценный склад: достаточно для хранения мебели из трёхкомнатной квартиры.
          </p>
          <div class="place__card_price">
            <p class="price">
              11 940
              <span class="per-month">
                руб./
                мес.
              </span>
            </p>

            <a href="calculator.html" class="button button-honeycomb">
              <span>
                заказать
              </span>
            </a>
          </div>
        </div>
        <div class="place__card">
          <h3>
            Рассчитать тариф <br> на месте
          </h3>
          <strong>
            Наши муверы приедут, точно рассчитают тариф и заберут вещи.
          </strong>
          <p>
            А еще можно прислать нам фотографии вещей, на почту <a
            href="mailto:hello@cherdak.io">hello@cherdak.io</a> или в мессенджеры:
          </p>
          <div class="place__card_social">
            <a href="#" class="social social-facebook">
              Facebook
            </a>
            <a href="#" class="social social-telegram">
              Telegram
            </a>
            <a href="#" class="social social-whatsapp">
              WhatsApp
            </a>
            <a href="#" class="social social-viber">
              Viber
            </a>
          </div>
          <div class="place__card_price">
            <a href="calculator.html" class="button button-honeycomb">
              <span>
                выбрать
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
