<section class="reviews">
  <div class="container">
    <div class="title title-left title-reviews">
      <h2>
        Клиенты о Нашей работе
      </h2>
    </div>
    <div class="reviews__wrapper">
      <div class="reviews__card">
        <div class="reviews__card_img" style="background-image: url('img/reviews-user.jpg')">
          <div class="reviews__card_img-top"></div>
          <div class="reviews__card_img-bottom"></div>
        </div>
        <div class="reviews__card_name">
          <h3>
            Смирнов Александр
          </h3>
          <time>
            12 Января 2018
          </time>
        </div>
        <div class="reviews__card_title">
            Решил сдать квартиру на airbnb и провести на даче все лето
        </div>
        <div class="reviews__card_text">
          Моим постояльцам не нужны лишние вещи, и я отправил их прямо на чердак. На чердаке мои вещи в безопасности - ими не будут пользоваться чужие люди и точно их не испортят!
        </div>
      </div>
      <div class="reviews__card">
        <div class="reviews__card_img" style="background-image: url('img/reviews-user.jpg')">
          <div class="reviews__card_img-top"></div>
          <div class="reviews__card_img-bottom"></div>
        </div>
        <div class="reviews__card_name">
          <h3>
            Смирнов Александр
          </h3>
          <time>
            12 Января 2018
          </time>
        </div>
        <div class="reviews__card_title">
          Решил сдать квартиру на airbnb и провести на даче все лето
        </div>
        <div class="reviews__card_text">
          Моим постояльцам не нужны лишние вещи, и я отправил их прямо на чердак. На чердаке мои вещи в безопасности - ими не будут пользоваться чужие люди и точно их не испортят!
        </div>
      </div>
      <div class="reviews__card hidden">
        <div class="reviews__card_img" style="background-image: url('img/reviews-user.jpg')">
          <div class="reviews__card_img-top"></div>
          <div class="reviews__card_img-bottom"></div>
        </div>
        <div class="reviews__card_name">
          <h3>
            Смирнов Александр
          </h3>
          <time>
            12 Января 2018
          </time>
        </div>
        <div class="reviews__card_title">
          Решил сдать квартиру на airbnb и провести на даче все лето
        </div>
        <div class="reviews__card_text">
          Моим постояльцам не нужны лишние вещи, и я отправил их прямо на чердак. На чердаке мои вещи в безопасности - ими не будут пользоваться чужие люди и точно их не испортят!
        </div>
      </div>
      <div class="reviews__card hidden">
        <div class="reviews__card_img" style="background-image: url('img/reviews-user.jpg')">
          <div class="reviews__card_img-top"></div>
          <div class="reviews__card_img-bottom"></div>
        </div>
        <div class="reviews__card_name">
          <h3>
            Смирнов Александр
          </h3>
          <time>
            12 Января 2018
          </time>
        </div>
        <div class="reviews__card_title">
          Решил сдать квартиру на airbnb и провести на даче все лето
        </div>
        <div class="reviews__card_text">
          Моим постояльцам не нужны лишние вещи, и я отправил их прямо на чердак. На чердаке мои вещи в безопасности - ими не будут пользоваться чужие люди и точно их не испортят!
        </div>
      </div>
      <div class="reviews__card hidden">
        <div class="reviews__card_img" style="background-image: url('img/reviews-user.jpg')">
          <div class="reviews__card_img-top"></div>
          <div class="reviews__card_img-bottom"></div>
        </div>
        <div class="reviews__card_name">
          <h3>
            Смирнов Александр
          </h3>
          <time>
            12 Января 2018
          </time>
        </div>
        <div class="reviews__card_title">
          Решил сдать квартиру на airbnb и провести на даче все лето
        </div>
        <div class="reviews__card_text">
          Моим постояльцам не нужны лишние вещи, и я отправил их прямо на чердак. На чердаке мои вещи в безопасности - ими не будут пользоваться чужие люди и точно их не испортят!
        </div>
      </div>
    </div>
      <a href="#" class="button button-honeycomb button-reviews load-more">
        <span>показать еще</span>
      </a>
  </div>
</section>
