<section class="how-work__wrapper why-we__wrapper">
  <div class="container">
    <div class="how-work why-we">
      <div class="title">
        <h2>
          Почему выбирают Нас?
        </h2>
      </div>
      <div class="how-work__container">
        <div class="how-work__container_card">
          <div class="how-work__container_img">
            <img src="img/jigsaw.svg" alt="">
          </div>
          <div class="how-work__container_text">
            <h3>
              Всё включено

            </h3>
            <p>
              Упаковка, погрузка, доставка и возврат ваших сокровищ включены в стоимость
            </p>
          </div>
        </div>
        <div class="how-work__container_card">
          <div class="how-work__container_img">
            <img src="img/camera.svg" alt="">
          </div>
          <div class="how-work__container_text">
            <h3>
              Ваши вещи в тепле и безопасности
            </h3>
            <p>
              Современно оборудованное хранилище для ваших вещей. Круглосуточная охрана, регулярная уборка и cтабильная температура 20 градусов
            </p>
          </div>
        </div>
        <div class="how-work__container_card">
          <div class="how-work__container_img">
            <img src="img/box.svg" alt="">
          </div>
          <div class="how-work__container_text">
            <h3>
              Прочная упаковка
            </h3>
            <p>
              Используем специальную упаковку для надё.жной защиты ваших вещей
            </p>
          </div>
        </div>
        <div class="how-work__container_card">
          <div class="how-work__container_img">
            <img src="img/monitor.svg" alt="">
          </div>
          <div class="how-work__container_text">
            <h3>
              Современные технологии
            </h3>
            <p>
              Для контроля ваших вещей и управления заказами мы создали специальный файловый кабинет, где вы видите все ваши вещи и легко управляете ими
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
